.detail-label{
    font-size: 12px;
}

.card{
    width: 100%;
    transform: scale(1);
    transition: transform 200ms ease;
}

.card:hover{
    transform: scale(1.05);
    transition: transform 200ms ease;
}